body{
  background: linear-gradient(to bottom right,#595959,#363636);
  background-repeat:no-repeat;
  height: 100vh;
  padding:0;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#top-bar{
  border-bottom: 1px solid white;
  color:white;
}

#name{
  width:30%;
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid white;
  background:none;
  color:white;
  margin-right: 40px;
}

.graph-wrapper{
  width:100%;
  margin:auto;
  max-height: 400px;
}

#sidebar{
  height: 100vh;
  background-color: #303030;
  width:10%;
  float: left;
}

#main-panel{
  float: left;
  width:85%;
}

.panel-wrapper{
  margin:20px;
}

#opt-menu{
  margin:auto;
  width:100%;
}

#ping-counts{
  height: 26vh;
  overflow: auto;
  border:1px solid #009de0;
  margin:10px;
}

#ping-count-single{
  border-bottom: 1px solid rgba(0,157,224,0.5);
  color:white;
  padding: 10px;
  text-align: left;
}

#inner-ping-count{
  margin-right: 60px;
}

.panel-but{
  border-radius: 5px;
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  padding:10px;
  cursor: pointer;
  outline:none;
}

.panel-but:hover{
  background-color: #5c5c5c;
}

.labels{
  color:white;
  margin-right: 20px;
}

.ping-opt{
  width:15%;
}
