body{
  padding:0;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, th, tr {
  font-weight: 100;
  font-size: 18px;
}

th, td {
  border-bottom: 1px solid rgba(0,157,224,0.5);
  padding: 10px;
  text-align: left;
}

#user{
  float: right;
  margin-right: 20px;
}

#wrapper{
  background: linear-gradient(to bottom right,#595959,#242424);
  background-repeat:no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#top-bar{
  border-bottom: 1px solid white;
  color:white;
  position: fixed;
  width:100%;
  z-index: 5;
  background-color:#5c5c5c;
}

.panel-input{
  width:30%;
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid white;
  background:none;
  color:white;
  margin-right: 40px;
}

.graph-wrapper{
  width:100%;
  margin:auto;
  max-height: 400px;
  background: none;
}

#sidebar{
  height: 100vh;
  background-color: #303030;
  width:8%;
  float: left;
  border-right: 1px solid rgba(0,157,224,1);
  position: fixed;
  margin-top: 40px;
  text-align: left;
  color:#dedede;
}

#main-panel{
  float: left;
  width:85%;
}

.panel-wrapper{
  width: 90%;
  margin:auto;
  margin-top: 80px;
  margin-left: 160px;
}

#opt-menu{
  margin:auto;
  width:100%;
}

#ping-counts{
  height: 26vh;
  overflow: auto;
  border:1px solid #009de0;
  margin:10px;
  background: #4d4d4d;
}

#ping-count-single{
  border-bottom: 1px solid rgba(0,157,224,0.5);
  color:white;
  padding: 10px;
  text-align: left;
}

#ping-count-single:hover{
  background-color: rgba(0,157,224,0.1);
}

#inner-ping-count{
  margin-right: 60px;
}

.panel-but{
  border-radius: 5px;
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  padding:10px;
  cursor: pointer;
  outline:none;
}

.panel-but:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

.labels{
  color:white;
  margin-right: 20px;
  font-size: 12px;
}

.panel-input{
  width:20%;
}

.header-key-input{
  width:30%;
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid white;
  background:none;
  color:white;
  margin-right: 40px;
}

.header-value-input{
  width:30%;
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid white;
  background:none;
  color:white;
  margin-right: 40px;
  margin-bottom: 20px;
}


#wifi-displayer{
  color:white;
  height:70vh;
  overflow: auto;
  border:1px solid #009de0;
  padding:10px;
  font-weight: 100;
  line-height: 1.5;
  margin:10px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 162, 235, 0.25);
  border:1px solid #009de0;
  border-radius: 10px;
}

#ip-discovered{
  height: 52vh;
  overflow: auto;
  border:1px solid #009de0;
  margin:10px;
}

#inner-ip-scan{
  color:white;
  border-bottom: 1px solid rgba(0,157,224,0.5);
  padding:10px;
}

#vendor-select{
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  border-radius: 5px;
  padding:10px;
  cursor: pointer;
  outline: none;
}

.vendor-select{
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  border-radius: 5px;
  padding:10px;
  cursor: pointer;
  outline: none;
}

#vendor-select:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

#table-but{
  border-radius: 5px;
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  padding:5px;
  cursor: pointer;
  outline:none;
}

#each-icon{
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(54, 162, 235, 0.2);
  cursor: pointer;
}

#each-icon:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

#table-but:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

#side-icon{
  width:20%;
  cursor: pointer;
  vertical-align: middle;
  margin-left: 5px;
}

#side-label{
  margin-right: 5px;
  margin-left: 5px;
}

#flood-ping-wrapper{
  color:white;
  margin:auto;
}

.flood-opt{
  margin-bottom: 40px;
}

.table-panel-input{
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid #009de0;
  background:none;
  color:white;
  margin-right: 40px;
}

#sidebar{
  font-size: 14px;
  margin-top: 50px;
}

h1{
  font-weight: 100;
  font-size: 22px;
  color:#dedede;
}

#flood-logs{
  overflow: auto;
  border: 1px solid #009de0;
  color:#dedede;
  height:30vh;
  width: 90%;
  margin:auto;
  margin-top:40px;
}

#each-flood-log{
  padding:10px;
  border-bottom: 1px solid rgba(54, 162, 235, 0.5);
}

#header-menu{
  color:white;
}

textarea {resize: none}

.background-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.75);
}

#api-his-inner{
  position: absolute;
  left: 30%;
  right: 30%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  border:1px solid #009de0;
  font-weight: 100;
}

#api-saved-inner{
  position: absolute;
  left: 30%;
  right: 30%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  border:1px solid #009de0;
  font-weight: 100;
}

.swal2-content {
  color: white !important;
}

.swal2-title{
  color: white !important;
}

#api-save-inner{
  position: absolute;
  left: 20%;
  right: 20%;
  top: 18%;
  bottom: 18%;
  margin: auto;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  border:1px solid #009de0;
  font-weight: 100;
  padding:20px;
}

#api-save-desc{
  width:90%;
  margin:auto;
  height:40vh;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #303030;
  border:1px solid #009de0;
  outline:none;
  color:white;
  padding:5px;
}

#each-api-his{
  border-bottom: 1px solid #009de0;
  padding:10px;
  display: block;
  overflow: auto;
}

.api-hist-code{
  float:left;
}


.api-hist-type{
  border:1px solid #009de0;
  padding:5px;
  border-radius: 5px;
  color:#009de0;
  width:10%;
}

.close-but{
  color:#009de0;
  border: none;
  background: none;
  outline:none;
  cursor:pointer;
  border:1px solid #009de0;
  padding:0, 1,0,1px;
  border-radius: 5px;
}

#login-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.75);
  z-index: 10;
}

#login-page{
  position: absolute;
  left: 30%;
  right: 30%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  border:1px solid #009de0;
  font-weight: 100;
}

#activate-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.75);
  z-index: 10;
}

#activate-page{
  position: absolute;
  left: 30%;
  right: 30%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  color: white;
  background-color: #4d4d4d;
  text-align: center;
  border:1px solid #009de0;
  font-weight: 100;
  padding:20px;
}

.account-wrapper{
  line-height: 4;
  border-bottom: 1px solid #009de0;
}

#uid{
  border: 1px solid #009de0;
  padding:5px;
  color: #009de0;
  border-radius: 5px;
}

#license{
  border: 1px solid #009de0;
  padding:5px;
  color: #009de0;
  border-radius: 5px;
}

@media only screen and (max-width: 1240px){
  #sidebar{
    font-size: 12px;
  }
  #side-icon{
    width:20%;
  }
  select{
    font-size: 10px;
  }
  .panel-but{
    font-size:10px;
  }
}
