body{
  background: linear-gradient(to bottom right,#595959,#363636);
  background-repeat:no-repeat;
  height: 100vh;
  padding:0;
  margin:0;
}

#name{
  width:60%;
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid black;
  background:none;
}

.graph-wrapper{
  width:100%;
  margin:auto;
  height:40vh;
  position: fixed;
  bottom: 0;
}

#sidebar{
  height: 100vh;
  background-color: black;
  width:10%;
  float: left;
}

#main-panel{
  float: left;
  width:85%;
}
