body{
  padding:0;
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, th, tr {
  font-weight: 100;
  font-size: 18px;
}

th, td {
  border-bottom: 1px solid rgba(0,157,224,0.5);
  padding: 10px;
  text-align: left;
}

#wrapper{
  background: linear-gradient(to bottom right,#595959,#242424);
  background-repeat:no-repeat;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#top-bar{
  border-bottom: 1px solid white;
  color:white;
  position: fixed;
  width:100%;
  z-index: 5;
  background-color:#5c5c5c;
}

.panel-input{
  width:30%;
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid white;
  background:none;
  color:white;
  margin-right: 40px;
}

.graph-wrapper{
  width:100%;
  margin:auto;
  max-height: 400px;
  background: none;
}

#sidebar{
  height: 100vh;
  background-color: #303030;
  width:8%;
  float: left;
  border-right: 1px solid rgba(0,157,224,1);
  position: fixed;
  margin-top: 40px;
  text-align: left;
  color:white;
}

#main-panel{
  float: left;
  width:85%;
}

.panel-wrapper{
  width: 90%;
  margin:auto;
  margin-top: 80px;
  margin-left: 160px;
}

#opt-menu{
  margin:auto;
  width:100%;
}

#ping-counts{
  height: 26vh;
  overflow: auto;
  border:1px solid #009de0;
  margin:10px;
}

#ping-count-single{
  border-bottom: 1px solid rgba(0,157,224,0.5);
  color:white;
  padding: 10px;
  text-align: left;
}

#inner-ping-count{
  margin-right: 60px;
}

.panel-but{
  border-radius: 5px;
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  padding:10px;
  cursor: pointer;
  outline:none;
}

.panel-but:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

.labels{
  color:white;
  margin-right: 20px;
}

.panel-input{
  width:20%;
}


#wifi-displayer{
  color:white;

}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(54, 162, 235, 0.25);
  border:1px solid #009de0;
  border-radius: 10px;
}

#ip-discovered{
  height: 52vh;
  overflow: auto;
  border:1px solid #009de0;
  margin:10px;
}

#inner-ip-scan{
  color:white;
  border-bottom: 1px solid rgba(0,157,224,0.5);
  padding:10px;
}

#vendor-select{
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  border-radius: 5px;
  padding:10px;
  cursor: pointer;
  outline: none;
}

#vendor-select:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

#table-but{
  border-radius: 5px;
  background: none;
  color:#009de0;
  border:1px solid #009de0;
  padding:5px;
  cursor: pointer;
  outline:none;
}

#each-icon{
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(54, 162, 235, 0.2);
  cursor: pointer;
}

#each-icon:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

#table-but:hover{
  background-color: rgba(54, 162, 235, 0.2);
}

#side-img{
  width:25%;
  margin-top: 20px;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 5px;
}

#side-label{
  margin-left: 10px;
}

#flood-ping-wrapper{
  color:white;
  margin:auto;
}

.flood-opt{
  margin-bottom: 40px;
}

.table-panel-input{
  margin:auto;
  outline:none;
  border:none;
  border-bottom: 1px solid #009de0;
  background:none;
  color:white;
  margin-right: 40px;
}
